##############################
# UKB file formats
##############################

*.bed
*.bim
*.fam
*.bgen
*.sample
*.pgen
*.psam
*.pvar
*.vcf
*.vcf.gz
*.bcf
*.gen
*.haps
*.legend

##############################
# Large data files
##############################

*.parquet
*.feather
*.fst
*.h5
*.hdf5
*.sqlite
*.db

##############################
# Jupyter
##############################

.ipynb_checkpoints/

##############################
# Pixi
##############################

.pixi/
